WORKOS_CLIENT_ID=
WORKOS_API_KEY=
WORKOS_REDIRECT_URI=http://localhost:3000/auth/callback

# Generate a 32-byte random string and encode as base64 for the cookie password
# openssl rand -base64 32
WORKOS_COOKIE_PASSWORD=